<section style='width:80%;margin:2em auto;background-color:white;border-left: .5em solid #2ca6cb; padding:0 1.5em;'>
  <h1 style='text-align:center;color:#2ca6cb;font-size:2em;padding:0.8em 0;border-bottom: 1px solid #2ca6cb'>About me</h1>
  <div style="padding:1em 0;">
    <div style="border-bottom:1px dashed #2ca6cb;padding:1em;"><span style="font-weight:bold;padding:0.5em;">姓名:</span>刘诗川</div>
    <div style="border-bottom:1px dashed #2ca6cb;padding:1em;"><span style="font-weight:bold;padding:0.5em;">公司:</span>网易杭州</div>
    <div style="border-bottom:1px dashed #2ca6cb;padding:1em;"><span style="font-weight:bold;padding:0.5em;">简介:</span>前端开发工程师</div>
  </div>
</section>